{% extends "index.html" %}

{% block content %}
<div class="row">
    <div class="container">
    
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Welcome in Food Flask app</h1>
                <p class="lead">about project :</p>
            </div>
    
            <div class="card border-info">
                <div class="card-body lead">
                    I used here API <a href="https://spoonacular.com/food-api"  target="_blank">spoonacular</a> to create all API queries where
                    you can search dishes by different categories. Such as: diet type,calories, macro ingredients or random, you can also choose a daily or weekly plan.
                     Website front-end is based on <a href="https://getbootstrap.com" target="_blank">bootstrap</a>.
                </div>
            </div>
        </div>
    </div>
{% endblock %}